body {
    background-color: white;
    border-left: 0px solid white;
    padding: 10px;
}

#formDiv {
    margin-top: -1%;
    margin-left: -3%;
}

#formDiv.review {
    margin-bottom: 4vw;
}

#welcomeImage {
    margin-left: 12%;
    width: 80%;
    height: auto;
    top: 0;
}

#instructionsImage {
    margin-left: 12%;
    width: 80%;
    height: auto;
    top: 0;
}

#headerImage {
    margin-left: 8%;
    width: 80%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1;
}

#headerImageDiv {
    margin-bottom: 16.5vw;
}

/* login page */
#loginFormInstructions {
    text-align: center;
    font-family: "Arial";
    font-size: 1.5vw;
}

#loginFormDiv {
    margin-top: 2vw;
    margin-left: 41.16%;
    margin-bottom: -1.5vw;
}

.login-fields-div {
    margin-top: 0.5%;
}

.login-fields {
    width: 27.9%;
    /*border: 2px solid rgba(100, 98, 98, 0.856); !* grey *! */
    border: 1.1px solid black; /* grey */
    border-radius: 0.15vw;
    /*box-shadow: 5px 10px #888888;*/
    /*box-shadow: 1px 1px 1px 1px #888888;*/
    font-family: Arial;
    font-size: 1vw;
    padding: 0.35vw;
}

.login-fields[type=text] {
    font-family: Arial;
    color: white;
}

/*** Page 1 - Page n Row Styling ***/

.new-image-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxes-container {
    margin-left: -10.7%;
    max-width: 30%;
    background: rgba(100, 98, 98, 0.856);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.cell-image-row-container {
    width : 45%;
    height : 0%;
    margin: -1px;
    margin-left: 1%;
    border: 0px solid;
    border-color:black
}

#cellImage {
    display: inline-block;
    width:130%;
    height:auto;
    border: 0.25em solid rgba(248, 245, 245, 0.829);
}

#progressPageDiv {
    margin-top: -4%;
    margin-left: 51.25%;
    font-family: Arial;
    font-size: 1.25vw;
}

/*****Radio Btn Styling*****/

.radio-btn-labels {
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    color: white;
    font-family: Arial;
    font-size: 1.3vw;
}

.default-radio-btns {
    display: none;
}

.custom-radio-btns {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid RGB(100,98,98);
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 3px;
}

.custom-radio-btns::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    background: RGB(180,91,56);
    transform: scale(0);
}

.default-radio-btns:checked + .custom-radio-btns::after {
    transform: scale(1);
    z-index: 0;
}


/*****Page Btn Styling*****/

.btn {
    cursor: pointer;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-left: 50.5%;
    background: RGB(180,91,56);
    color: white;
    font: bold 1.5vw Arial;
    height: 3vw;
    width: 8vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    -webkit-appearance: none;
}

.returnbtn {
    cursor: pointer;
    margin-left: 50%;
}

.right-btn {
    margin-left: 1%;
}

/* welcome page */
#beginBtnDiv {
    margin-top: 2vw;
}


/* login page */
#resetLoginBtnDiv {
    margin-left: 37%;
}

.right-btn-div {
    margin-left: 1%;
}

#resetLoginBtnDiv, #submitBtnDiv {
    margin-top: 2%;
    margin-bottom: 5%;
    display: inline-block;
}

/* page 1 */

#returnToReviewPageBtn.show {
    font: bold 1.1vw Arial;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    margin-bottom: 1vw;
    margin-top: 0vw;
    margin-left: 52.23%;
    background-color: RGB(100,98,98);
}

#returnToReviewPageBtn.hide {
    display: none;
}

/* pages 2-4 */

#previousBtnDiv, #nextBtnDiv {
    display: inline-block;
}

#previousBtn {
    font-size: 1.4vw;
}

#previousBtnDiv {
    margin-left: 43.5vw;
}

#previousBtnDiv.review {
    margin-left: 39.5vw;
}

#returnToReviewPageBtnDiv.hide {
    margin-top: -4vw;
}

#returnToReviewPageBtnDiv.show {
    margin-top: -4vw;
}

/* review page */

.null-btns {
    background: RGB(180,91,56);
    cursor: pointer;
    color: white;
    font: bold 1vw Arial;
    margin-bottom: 0.5vw;
    width: 8vw;
    border-radius: 100vw;
}

#previousBtnDiv, #submitBtnDiv {
    margin-top: 3%;
    margin-bottom: 5%;
    display: inline-block;
}

#submitBtn {
    font-size: 1.4vw;
}

/***Review Page Styling***/

#reviewMessageHeaderDiv {
    text-align: center;
    margin-bottom: 1%;
    font-family: Arial;
    font-size: 1.3vw;
}

#reviewMessageResultsDiv {
    text-align: center;
    margin-bottom: 1%;
    font-family: Arial;
    font-size: 1.3vw;
}

#nullPagesDiv {
    margin-top: 2.5vw;
    margin-left: 47.75vw;
}

a:visited {   
    color: rgb(13, 13, 196);   
}


/***Results Page Styling***/

#pageHeaderDiv {
    position: fixed;
    width: 100vw;
    height: 15vw;
    top: 0;
    left: 0;    
    background-color: RGB(180,91,56);

    text-align: center;
    font-family: Arial;
    font-size: 5vw;
    color: white;

    transition: font-size 0.25s, height 0.25s;
    -webkit-transition: font-size 0.25s, height 0.25s;
    -moz-transition: font-size 0.25s, height 0.25s;
}

#pageHeaderDiv.small {
    height: 8vw;
    font-size: 2vw;
}

#overallScore {
    margin-top: 1.5vw;
    margin-bottom: 0.75vw;
}

#resultsMessage {
    text-align: center;
    color: black;
}

#bufferDiv {
    margin: 3%;
}

#resultsImg {
    width: 70%;
    margin-left: 15vw;
}

#bottomPadding {   
    margin-bottom: 10%;   
}

.cell-type {
    text-align: center;
}

.message-div {
    margin-top: 5vw;
    margin-bottom: 1vw;
    font: 1.75vw Arial;
    margin-left: 15vw;
}

.show-all-type-btn {
    cursor: pointer;
    background: RGB(180,91,56);
    color: white;
    font: bold 1.25vw Arial;
    /*margin-left: 41.5%;*/
    width: 12vw;
    padding: 0.25vw;
    border-radius: 10%;
    /*padding-left: 0.5vw;*/
    white-space: nowrap;
    overflow: hidden;
}

.show-incorrect-type-btn {
    cursor: pointer;
    background: RGB(180,91,56);
    color: white;
    font: bold 1.25vw Arial;
    /*margin-left: 41.5%;*/
    width: 12vw;
    padding: 0.29vw;
    border-radius: 10%;
    /*padding-left: 0.5vw;*/
    white-space: nowrap;
    overflow: hidden;
}

#objectsDiv {
    font: bold 1.5vw Arial;
    margin-top: 15vw;
}

.object-header-divs {
    margin-bottom: 0.75vw;
}

#objectLabel0Div {
    margin-left: 43vw;
}
#dataMessage0Div {
    margin-left: 3.15vw;
}

#objectLabel1Div {
    margin-left: 35.4vw;
}
#dataMessage1Div {
    margin-left: 3.75vw;
}

#objectLabel2Div {
    margin-left: 34.5vw;
}
#dataMessage2Div {
    margin-left: 3.7vw;
}

#objectLabel3Div {
    margin-left: 34.4vw;
}
#dataMessage3Div {
    margin-left: 3vw;
}

#objectLabel4Div {
    margin-left: 33.1vw;
}
#dataMessage4Div {
    margin-left: 3.5vw;
}

.object-type-labels, .data-message-divs {
    display: inline-block;
}

.object-div {
    margin-bottom: 2vw;
}

.results-table-row {
  /*border: 1px solid black;*/
  table-layout: fixed;
  /*width: 300px;*/
  margin-left: 4vw;
}

th,
td {
  /*border: 1px solid black;*/
  width: 15vw;
  overflow: hidden;
}

.right-flushed-row {
    text-align: center;
}

.left-padded-column {
    margin-left: 15vw;
}

.show-all-button-div {
    margin-left: 1.5vw;
}

.show-incorrect-button-div {
    margin-left: 0.5vw;
}

.results-header-buffer {
    margin-bottom: 1vw;
}

.results-header-labels {
    font: bold 1.75vw Arial;
}

.results-row-buffer {
    height: 0.1vw;
    background-color: grey;
}

.results-header-line {
    height: 0.5vw;
    background-color: black;
    margin-top: -0.005vw;
}

